body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
}

.hlogo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    text-align: center;
    justify-content: start;
    width: 460px;
}

.hlinks {
    justify-content: end;
    display: flex;
    list-style: none;
    gap: 1em;
    width: 460px;
}

.hlinks a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.htext {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 480px;
    height: 225;
}

.main-text {
    text-align: start;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    text-align: start;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
    padding-right: 32px;
}

.bcont {
    text-align: start;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    box-sizing: content-box;
    width: 5.5em;
    height: 1.75em;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
}

.himage {
    display: flex;
    background-color: gray;
    color: #E5E7EB;
    box-sizing: content-box;
    width: 480px;
    height: 225px;
    justify-content: center;
    align-items: center;
}